html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #e7e7e7;
}

body {
    margin-bottom: 60px;
}

.opcionais {
    text-align: center;
}

.informacoes-container {
    display: flex;
    justify-content: space-between;
    background-color: #e7e7e7;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
}

.informacoes {
    display: flex;
    align-items: center;
}

.informacoes-total {
    color: blue;
}

.informacoes-total,
.informacoes-cfoto, .informacoes-sfoto,
.informacoes-exp, .informacoes-add,
.informacoes-salvar {
    margin-right: 20px;
    text-align: center;
}

    .informacoes-total h2,
    .informacoes-cfoto h2,
    .informacoes-sfoto h2 {
        display: flex;
        align-items: center;
        color: #87888A;
        font-size: 20px;
    }

    .informacoes-total h2 label,
    .informacoes-cfoto h2 label,
    .informacoes-sfoto h2 label {
        margin-left: 5px;
    }

    .informacoes-total h5 {
        color: #0B72B5;
    }

    .informacoes-cfoto h5 {
        color: #41A62A;
    }

    .informacoes-sfoto h5 {
        color: #E2001A;
    }

    .informacoes-exp h2 {
        font-size: 16px;
        color: #333;
    }



.btn-salvar {
    background-color: transparent;
    bo
}

    .btn-salvar img {
        margin-right: 5px;
    }


.container-forms {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    border: 1px solid #9C9E9F;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
 }

.form-control {
    background-color: %F6F6F6;
    width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.btn-success {
    background-color: #40A52B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-success:hover {
        background-color: #218838;
    }

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button label{
    margin-left: 10px;
}

.btn-buscar {
    display: flex;
    align-items: center;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    font-size: 18px;
}

.btn-buscar:hover {
    background-color: #218838;
}

.icon {
    width: 20px; 
    height: 20px;
}

.btn-buscar label {
    font-weight: bold;
}

.btn-apagar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-apagar {
    background-color: #ECEDED;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    border: none;
    cursor: pointer;
}

.btn-up {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
}

    .btn-up:hover {
        background-color: gray;
    }

.btn-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
}

.arrow-button {
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
}

.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.up-arrow, .down-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.up-arrow {
    cursor: pointer;
    border-bottom: 10px solid white;
    margin-bottom: 5px;
}

.down-arrow {
    cursor: pointer;
    border-top: 10px solid white;
}

.icon-button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon-button img {
        width: 20px;
        height: 20px;
    }

.btn-icarros, .btn-webmotors{
    margin-right:10px;
    padding:20px;
}


.vehicle-details {
    padding: 15px;
}

.vehicle-title {
    font-weight: bold;
}

.btn-edit-vehicle {
    margin-right: 10px;
}

.btn-options {
    margin-top: 10px;
    display: block;
}

.additional-info {
    padding: 15px;
}

.additional-info .info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.additional-info .info-item span {
    margin-right: 5px;
}

.additional-info .info-item input {
    margin-right: 5px;
}

.btn-trash {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-trash img {
    width: 24px;
    height: 24px;
}

.img-fluid {
    border-radius: 5px;
    max-height: 150px;
}

.text-primary {
    color: #007bff;
}

.text-success {
    color: #28a745;
}

.text-muted {
    color: #6c757d;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .button-row button {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

        .button-row button img {
            width: 40px; /* Defina um tamanho padrão para todas as imagens */
            height: 40px;
        }

    .button-row .label {
        font-size: 14px;
        color: green;
        margin-top: 5px;
    }

.custom-button {
    width: 60px;
    height: 60px;
    background-color: #1085C6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}

    .custom-button img {
        width: 30px;
        height: 30px;
    }
